<h1>{{title}}</h1>
<div class="row">
    <div class="col-4">
        <div class="add-user card">
            <div class="card-header">
                <h2>Create a new user</h2>
                <span class="details">
                    POST <div class="link">/api/exercise/new-user</div>
                </span>
            </div>
            <div class="card-body">
                <form action="/api/exercise/new-user" method="POST">
                    <input class="form-control mb-2" type="text" name="username" placeholder="Username">
                    <button class="btn btn-outline-primary" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="add-exercise card">
            <div class="card-header">
                <h2>Add exercise</h2>
                <span class="details">
                    POST <div class="link">/api/exercise/add</div>
                </span>
            </div>
            <div class="card-body">
                <form action="/api/exercise/add" method="post">
                    <input class="form-control mb-2" type="text" name="userId" placeholder="user id">
                    <input class="form-control mb-2" type="text" name="desc" placeholder="description">
                    <input class="form-control mb-2" type="number" name="mins" placeholder="duration(mins)">
                    <input class="form-control mb-2" type="text" name="date" placeholder="date (yyyy-mm-dd)">
                    <button class="btn btn-outline-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>